# Python
__pycache__/
*.py[cod]
*.pkl
*.parquet

# Virtual Environments
.venv/
env/
venv/

# Data and logs
data/
external_data/
logs/
tests/
config/
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
Thumbs.db
